// nav {
//     // box-shadow: inset 0 .4em 1em #0006;
// }

.header {
    min-height: var(--view-more-height);
    background-image: linear-gradient(180deg, var(--bs-primary), var(--bs-primary-dark-3));
}

.navbar {
    background-color: var(--bs-primary);
    // background-color: white;
    @media (prefers-color-scheme: _dark) {
        --bs-navbar-color: white;
        background-color: #0f0f0f;
    }
}

.nav-link fw-bolder.text-white:hover {
    color: #aaa !important;
}
